body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin: 0;
}
header {
  background-color: dodgerblue;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

h2 {
  font-size: 1.35em;
}

main {
  padding: 0.25em 1em 0.5em 1em;
  background-color: whitesmoke;
}

.button {
  background-color: dodgerblue;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 3px;
}

.button:disabled {
  background-color: #ccc;
}

input {
  margin-bottom: 1.5em;
}

.input-group {
  margin-bottom: 1em;
}

label {
  display: block;
}
